* {
  background-color: rgba(255, 202, 176, .7);
}
h1 {
font-family: 'Roboto', sans-serif;
font-size: 200px;
text-align: center;
color: rgb(75, 13, 141);
margin-top: 320px;
margin-left: 100px;
margin-right: 100px;
}
h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 125px;
  text-align: left;
  color: rgb(75, 13, 141);
  margin-top: 40px;
  margin-left:50px;
}
